# my tools
nicegui
alpaca-py
sqlmodel
python-dotenv
yahooquery
APScheduler

# TradingAgents Tools
typing-extensions
langchain-openai
langchain-experimental
langchain_core
pandas
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain-anthropic
langchain-google-genai